# Frontend
PORT=
AUTH_API_ADDRESS=
TODOS_API_ADDRESS=

# Auth API
AUTH_API_PORT=
JWT_SECRET=
USERS_API_ADDRESS=

# Todos API
JWT_SECRET=
REDIS_HOST=
REDIS_PORT=
REDIS_CHANNEL=

# Users API
SERVER_PORT=
JWT_SECRET=

# Log Message Processor
REDIS_HOST=
REDIS_PORT=
REDIS_CHANNEL=

# Domain Name and Email
DOMAIN_NAME=
EMAIL=

# Login Details (if these are environment variables)
USERNAME=
PASSWORD=